body {
  background-color: #1B2430;
  color:#fff;
  font-family: 'Rubik', sans-serif;
}

.mini-card {
  height:auto;
  min-height: 400px;
  width:250px;
  background-color: #2B3543;
}
.mini-card-img {
  height:300px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.mid-card {
  height:auto;
  width:40%;
}

.max-card {
  height:auto;
  width:100%;
  background-color: #2B3543;
}

li{
  list-style:none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.navbar {
  background-color: #1B2430 !important;
}

.logo-img{
  width:150px;
}

/*global styles*/
.br {
  border-radius: 10px;
}

.bs {
  filter: drop-shadow(11px 11px 5px #151b25);
}

/*buttons styles*/

/*inputs styles*/
.txtInput {
  height:50px;
  width:70%;
  max-width:800px;
  min-width: 250px;
}

/*fonts sizes*/
.summary-paragraph {
  font-size:18px;
  line-height:23px;
}@media only screen and (max-width: 500px) {
  .summary-paragraph {
    font-size:15px;
    line-height:20px;
  }
}